@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.scss';

* {
    font-family: 'Poppins', sans-serif;
}

html {
    min-height: 100vh;
    max-width: 100vw;


    body {
        max-width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
}

.default-form {
    background: $gray_color;
    background: linear-gradient(to right, $dark_gray_color, $dark_main_color);
    width: 35vw;
    min-width: 340px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: 10px 10px 17px 0 rgb(0 0 0 / 75%);

    a {
        height: 120px;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    img {
        height: 120px
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 70%;

        label {
            display: flex;
            flex-direction: column;
        }


        input {
            border: none;
            background-color: unset;
            border-bottom: 1px solid white;
            color: white;

            &::placeholder {
                color: white;
            }

            &:focus-visible {
                outline: none;
            }
        }

        button {
            border-radius: 1000px;
            border: none;
            height: 30px;
            background: $main_color;
            color: white;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}

.error-message {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 225px;
    background-color: $second_main_color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        color: white;
        border-bottom: 1px solid white;
        width: 100%;
        text-align: center;
    }
}

.disable {
    display: none;
}
